@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    transition: .3s;
    
}
body{
    font-family: Arial, Helvetica, sans-serif;

}
/*default css*/
.container{
    width: 1140px;
    margin: auto;
}
.container-full{
    width: 98%;
    margin: auto;
}
.box-area{
    box-sizing: border-box;
}
.clear{
    overflow: hidden;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}

/*header*/

.header-area{
    background-color: #1228ee;
    
}
.nav{
    height: 70px;
}
.nav-logo{
float: left;
}
.nav-logo img {
    width: 20%;
    padding: 10px 10px;

    border-radius: 30%;
} 
.main-menu{
float: right;
}
/*.main-menu ul{}*/
.main-menu ul li{
    display: inline-block;
    margin-right: 20px;

}
.main-menu ul li a{
    padding: 25px 0;
    color: #fff;
    font-size: 20px;
    display: block;
    text-transform: capitalize;
    position: relative;
}
.main-menu ul li a::before{
    content: "";
    position: absolute;
    background: #ff5321;
    height: 2px;
    bottom: 15px;
}
.main-menu ul li a:hover::before{
    width: 100%;
    transition: 0.4s;
}

/*home*/

.home-area{
    background-image: url(../images/background.jpeg);
    height: 600px;
    background-size: cover;  
}
.dark-overlay{
    background-color: rgba(0, 0, 0, .7);
    height: 600px;
}
.home-content{
    text-align: center;
    padding-top: 210px;
}
/*.home-text{}*/
.home-text h2{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 10px;
}
.home-text h1{
    font-size: 60px;
    color: #fff;
    font-weight: bold;
    padding-top: 15px
}
.home-text h1 span{
    color: #00a2de;
}
.home-btn{
    padding-top: 30px;
}
.home-btn a:first-child{
    background-color: cornflowerblue;
    transition: .3s;
    margin-right: 15px;
}
.home-btn a:hover{
    background-color: #ff5321;
}
.home-btn a {
    color: #fff;
    background: #4c8ae7;
    padding: 12px 20px;
    font-size: 15px;
}
/*Animation Image */
.like-bubbles img {
    width: 21px;
    animation: like 5s linear infinite;
    border-radius: 50%;
}
.like-bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}
/*Set Animation on like img file*/
@keyframes like{
    0%{
        transform: translateY(0);
        opacity: 0;
        
    }
    50%{
        
        opacity: 1;
    }
    70%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
/*Animation image time changing */
.like-bubbles img:nth-child(1){
    animation-delay: 2s;
}
.like-bubbles img:nth-child(2){
    animation-delay: 1s;
}
.like-bubbles img:nth-child(3){
    animation-delay: 3s;
}
.like-bubbles img:nth-child(4){
    animation-delay: 4.5s;
}
.like-bubbles img:nth-child(5){
    animation-delay: 3s;
}
.like-bubbles img:nth-child(6){
    animation-delay: 6s;
}
.like-bubbles img:nth-child(7){
    animation-delay: 7s;
}
/*Dislike animation*/
.dislike-bubbles img {
    width: 21px;
    animation: like 5s linear infinite;
    border-radius: 50%;
}
.dislike-bubbles{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
    
}
/*Set Animation on dislike img file*/
@keyframes dislike{
    0%{
        transform: translateY(0);
        opacity: 0;
        
    }
    50%{
        
        opacity: 1;
    }
    80%{
        
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}
/*Animation image timming for dislinke changing */
.dislike-bubbles img:nth-child(1){
    animation-delay: 2.6s;
}
.dislike-bubbles img:nth-child(2){
    animation-delay: 4s;
}
.dislike-bubbles img:nth-child(3){
    animation-delay: 5s;
}
.dislike-bubbles img:nth-child(4){
    animation-delay: 9s;
}
.dislike-bubbles img:nth-child(5){
    animation-delay: 5s;
}


/*Card area*/
.card-area{

    margin: 2%;
    background-color: #00a2de;
   }
   .heddi {
    text-align: center;
    font-size: 51px;
    padding: 0px 0px 32px 17px;
    font-family: none;
    background-image: linear-gradient(to left top, #1341e3, #007cff, #00a7ff, #00cbf4, #12ebe1);
    color: rgb(244, 244, 253);
    
}
   
    h1 {
        font-size: 34px;
        line-height: 46px;
    }
    
    button {
        margin-top: 19px;
        margin-bottom: 10px;
        background-color: #0b9ee5e6;
        border: 3px solid #072eeb;
        box-shadow: cadetblue;
        border-radius: 5px;
        padding: 16px 43px 21px 42px;
        font-size: 28px;
        font-family: Arial, Helvetica, sans-serif;
    }
   button:hover{
     background-color: rgb(248, 136, 9);
     color: white;
     transition: .5s;
     cursor: pointer;
   }

  /*flip card*/
  img{
	max-width: 100%;
	vertical-align:middle;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.flip-main {
    min-height: 635px;
    /* background-color: rgb(21 22 24 / 76%); */
    background-image: radial-gradient(circle, #f2e7ed, #ebd8e8, #decae6, #ccbde6, #b4b3e7, #9fb2e4, #8bb0df, #77aed8, #79b0ca, #83b0bd, #90aeb2, #9eacab);
    padding: 100px 0px;
}
.flip-main .flip-card {
    flex: 0 0 calc(40.33% - 24px);
    margin: 28px -78px 64px 125px;
   /* perspective: 2000px; *//*This propaty function use for 3D Effect*/
}
.flip-main .flip-card-inner {
    box-shadow: 0 0 10px #a9b3d6;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease;
    border-radius: 26px;
}
.flip-main .flip-card-front img{
	width: 100%;
    border-radius: 26px 23px 0px 0px;
}
.flip-main .flip-card-front, .flip-main .flip-card-back {
    backface-visibility: hidden;
    height: 345px;
    background-image: linear-gradient(to left top, #111ce7, #0074ff, #00a6ff, #00cff7, #2df2df);
    border-radius: 27px;
}
.flip-main .flip-card-back{
	background-color: #6e0ec5;
	position: absolute;
	left:0;
	top:0;
	padding: 15px;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transform: rotateY(180deg);
}
.flip-main .flip-card-back h3{
	font-size: 24px;
	color: #ffffff;
	margin:0 0 5px;
}
.flip-main .flip-card-back p {
    font-size: 23px;
    padding: 21px;
    color: #e9e9e9;
    margin: 0;
}
.flip-main .flip-card:hover .flip-card-inner{
   transform: rotateY(180deg);
   background-color: #a8b6f3;
}
  /*flip card end*/

   /*footer*/
   .footer-area {
    background: rgb(8, 12, 233);
    padding: 30px 0;
    margin-top: 0px;
}
/*.foooter-text{}*/
.footer-text p{
    text-align: center;
    color: rgb(229, 229, 240);
    font-size: 19px;
}
.footer-icon{
    text-align: center;
}
.footer-icon ul li{
    display: inline-block;
    margin-right: 20px;
}
.footer-icon ul li a{
    color: #fff;
    font-size: 18px;
    display: block;
    padding-top: 10px ;
}
.footer-icon ul li a:hover{
    color: #ff5321;
}
.footer-links {
    text-align: center;
    line-height: 47px;
    font-size: 19px;
}
.footer-links ul li{
    display: inline-block;
    margin-left: 10px;
    text-transform:capitalize;
    text-decoration: none;      
}
.footer-links ul li a{
    color: rgb(227, 227, 235);
    display: block;
}
.footer-links ul li a:hover{
    background-color: #ff5321;
}

/*Responsive*/
/*normal desktop:992px.*/
@media(min-width:992px) and ( max-width:1200px){
    .container{
        width: 100%;
    }
    .nav-logo img {
        width: 20%;
        padding: 5px 10px;
        border-radius: 40%;
    } 
    .flip-main .flip-card {
        flex: 0 0 calc(30% - 30px);
      }
}
/*Tablet desktop:768px.*/
@media(min-width:768px) and ( max-width:991px){
    .container{
        width: 740px;
        margin: auto;
    }
    .home-text h2{
        font-size: 35px;
    }
    .home-text h1{
        font-size: 43px;
    }
    .home-area{
        height: 500px;
    }
    .dark-overlay{
        height: 500px;
    }
    .home-content{
        padding-top: 150px;
    }
    
    .flip-main .flip-card {
        flex: 0 0 calc(70% - 30px);
      }
}
